# Gateway Server Configuration
PORT=4000

# CORS Configuration
CORS_ORIGIN=https://localhost:4000
CORS_CREDENTIALS=true

# Request Configuration
REQUEST_SIZE_LIMIT=25mb

# Transcriber Service
TRANSCRIBER_HOST=localhost
TRANSCRIBER_PORT=4010

# Composer Service
COMPOSER_HOST=localhost
COMPOSER_PORT=4020

# Logging Configuration
LOG_LEVEL=tiny